.list-group-item {
    border: solid black 1px;
    margin-bottom: 15px;
}

.userUser {
    margin: 10px;
    border-bottom: solid red 1px;
    color: red;
    font-size: large;
}

.botUser {
    margin: 10px;
    border-bottom: solid blue 1px;
    color: blue;
    font-size: large;
}

.message {
    margin: 0px 10px 5px 10px;
}

.timeform {
    float: right;
}